mazes
test
*.o
*.d
.obj
build/

# Generated images
unsolved.png
solved.png
testDrawMazeSmall.png
testDrawMazeLarge.png
testDrawSolutionMed.png
testDrawSolutionLarge.png

testdsets
testsquaremaze
